- alias: Set theme at startup
  id: 8bec1ccd-a9e8-4502-8b55-39a947c0ecb7
  initial_state: 'on'
  trigger:
  - platform: homeassistant
    event: start
  action:
    service: frontend.set_theme
    data:
      name: slate
- id: '1686672318328'
  alias: Pura X Clean on Tag Scan
  description: ''
  trigger:
  - platform: tag
    tag_id: 7761d19e-7a07-40dd-b4f4-d79d1dd76ddf
  condition: []
  action:
  - service: button.press
    data: {}
    target:
      entity_id: button.pura_x_start_resume_cleaning
  mode: single
- id: '1691625474781'
  alias: Front Door Notify Sean
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      camera: camera.doorbell
      notify_device: b81fa521b01f700193b2b3fe10d60e10
      base_url: http://hass.auffinger.dev
      title: Frigate Alert
      alert_once: true
      attachment: thumbnail
      update_thumbnail: true
      icon: mdi:cctv
      labels:
      - person
      cooldown: 60
      state_entity: lock.touchscreen_deadbolt_z_wave_plus
      state_filter_states:
      - locked
      state_filter: true
- id: '1697546504085'
  alias: Charger Fault watchdog
  description: ''
  triggers:
  - entity_id:
    - sensor.cph50_charger_state
    to: Fault
    trigger: state
  - type: power
    device_id: 13f6cd9848cf2224a1ff3b66a9584d76
    entity_id: 8be14a7412d380da900f85aa96572ab8
    domain: sensor
    below: 1
    for:
      hours: 0
      minutes: 5
      seconds: 0
    trigger: device
  conditions:
  - condition: state
    entity_id: sensor.cph50_charging_cable
    state: Plugged In
  - condition: time
    after: '21:00:00'
    before: 06:00:00
  - condition: device
    type: is_on
    device_id: 13f6cd9848cf2224a1ff3b66a9584d76
    entity_id: 0070a0c0708889ac9427c52293adbf8a
    domain: switch
  - condition: numeric_state
    entity_id: sensor.wican_batterysoc
    below: input_number.the_jag_max_soc
  actions:
  - data:
      brightness_pct: 60
      flash: short
    target:
      entity_id: light.bedside
    action: light.turn_on
  - data:
      brightness_pct: 35
    target:
      entity_id: light.bedside
    action: light.turn_on
  - data:
      message: Fault detected with Jag charger
    action: notify.alexa_media_bedroom_echo
  - data:
      message: Fault detected with Jag charger!!
      title: Fault detected
    action: notify.mobile_app_sean_s_s20
  - data:
      message: Charging fault detected for Jag!
      title: Fault detected
    enabled: true
    action: notify.mobile_app_caitlin_s21
  mode: single
- id: '1717471460716'
  alias: Washer/Dyer Remote Start
  description: ''
  trigger:
  - platform: time
    at: '19:01:00'
  condition: []
  action:
  - service: button.press
    metadata: {}
    data: {}
    target:
      entity_id:
      - button.washer_remote_start
      - button.dryer_remote_start
  mode: single
- id: '1718162085772'
  alias: Activate Brew Sign
  description: ''
  triggers:
  - type: power
    device_id: 5cfce8615e6bfa25712677cc0ad83f3e
    entity_id: 9b06e7024c911a62881c8341092f612a
    domain: sensor
    trigger: device
    above: 1000
  conditions: []
  actions:
  - type: turn_on
    device_id: 71dfe78cee016ecad7f5c8f7377ea715
    entity_id: 9b6b5c2e15a01ced4dc2d4d934970e9d
    domain: light
    brightness_pct: 100
  mode: single
- id: '1723777909805'
  alias: Tag Dyson Stick Vac Start Charging is scanned
  description: ''
  triggers:
  - tag_id: 516eb145-b69f-4c8d-bfc6-8dac8d11f7dd
    trigger: tag
  conditions: []
  actions:
  - type: turn_on
    device_id: 204aa4deb9ae013ecfb99871331cfa06
    entity_id: abef98810bd28ed8b71baefa76109c4e
    domain: switch
  mode: single
- id: '1723913346506'
  alias: Dyson Stick Vac Charge Limit
  description: ''
  triggers:
  - type: power
    device_id: 204aa4deb9ae013ecfb99871331cfa06
    entity_id: 3fce30a4502102f6e9a179a209a6b616
    domain: sensor
    trigger: device
    above: 36
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - type: turn_off
    device_id: 204aa4deb9ae013ecfb99871331cfa06
    entity_id: abef98810bd28ed8b71baefa76109c4e
    domain: switch
  mode: single
- id: '1726351475455'
  alias: Moosoo Stick Vac Charge Limit
  description: ''
  triggers:
  - type: power
    device_id: 1c9cfa02fa649e2136dda6f5612366a6
    entity_id: 6f742a3dd56eeba6cffebe1576b26ff4
    domain: sensor
    trigger: device
    above: 12
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - type: turn_off
    device_id: 1c9cfa02fa649e2136dda6f5612366a6
    entity_id: 5abb4178fa9345b3b5d0177acae0b592
    domain: switch
  mode: single
- id: '1726609980402'
  alias: Explorer Battery Low Alert
  description: ''
  triggers:
  - entity_id:
    - sensor.the_jag_starter_battery_voltage
    for:
      hours: 3
      minutes: 10
      seconds: 0
    below: 11.2
    trigger: numeric_state
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      title: The Jag 12V Battery Update!
      message: 'Low Voltage: {{states(''sensor.the_jag_starter_battery_voltage'')|round(2)}}
        V'
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      title: The Jag 12V Battery Update!
      message: 'Low Voltage: {{states(''sensor.the_jag_starter_battery_voltage'')|round(2)}}
        V'
  mode: single
- id: '1738381307912'
  alias: Space Heater Turn Off
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.sht30_02_temperature
    - input_number.space_heater_temperature_setpoint
  conditions:
  - condition: numeric_state
    entity_id: sensor.sht30_02_temperature
    value_template: '{{states(''input_number.space_heater_temperature_setpoint'')|float
      - state.state|float}}'
    below: 0
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.s31_14_relay
  mode: single
- id: '1738381384282'
  alias: Space Heater Turn On
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.sht30_02_temperature
    - input_number.space_heater_temperature_setpoint
  conditions:
  - condition: numeric_state
    entity_id: sensor.sht30_02_temperature
    value_template: '{{states(''input_number.space_heater_temperature_setpoint'')|float
      - state.state|float}}'
    above: 0.5
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.s31_14_relay
  mode: single
- id: '1741656712398'
  alias: Petkit Wastebin Full Notify
  description: ''
  triggers:
  - type: problem
    device_id: ef54fbaf3e6246f2c7e7a1f8d3b3a5d4
    entity_id: 511ebb1132ce8b62cb23ccce82b86843
    domain: binary_sensor
    trigger: device
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      message: Petkit waste collection bin full. Please empty in time.
      title: Petkit Notification
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      message: Petkit waste collection bin full. Please empty in time.
      title: Petkit Notification
  mode: single
- id: '1745027897856'
  alias: Tag Moosoo stick vac start charging is scanned
  description: ''
  triggers:
  - trigger: tag
    tag_id: 0ad40282-6541-4ff7-a2a9-c5cf314fb4ab
  conditions: []
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.s31_21_relay
  mode: single
