- alias: Set theme at startup
  id: 8bec1ccd-a9e8-4502-8b55-39a947c0ecb7
  initial_state: 'on'
  trigger:
  - platform: homeassistant
    event: start
  action:
    service: frontend.set_theme
    data:
      name: slate
- id: '1686672318328'
  alias: Pura X Clean on Tag Scan
  description: ''
  trigger:
  - platform: tag
    tag_id: 7761d19e-7a07-40dd-b4f4-d79d1dd76ddf
  condition: []
  action:
  - service: button.press
    data: {}
    target:
      entity_id: button.pura_x_start_resume_cleaning
  mode: single
- id: '1691625474781'
  alias: Front Door Notify Sean
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      camera: camera.doorbell
      notify_device: b81fa521b01f700193b2b3fe10d60e10
      base_url: https://hass.auffinger.dev
      title: Frigate Alert
      alert_once: true
      attachment: thumbnail
      update_thumbnail: true
      icon: mdi:cctv
      labels:
      - person
      cooldown: 60
      state_entity: lock.front_door_lock
      state_filter_states:
      - locked
      state_filter: true
- id: '1697546504085'
  alias: Charger Fault watchdog
  description: ''
  triggers:
  - entity_id:
    - sensor.cph50_charger_state
    to: Fault
    trigger: state
  conditions:
  - condition: state
    entity_id: sensor.cph50_charging_cable
    state: Plugged In
  - condition: time
    after: '21:00:00'
    before: 06:00:00
  - condition: numeric_state
    entity_id: sensor.wican_batterysoc
    below: input_number.the_jag_max_soc
  actions:
  - data:
      brightness_pct: 60
      flash: short
    target:
      entity_id: light.bedside
    action: light.turn_on
  - data:
      brightness_pct: 35
    target:
      entity_id: light.bedside
    action: light.turn_on
  - data:
      message: Fault detected with Jag charger
    action: notify.alexa_media_bedroom_echo
  - data:
      message: Fault detected with Jag charger!!
      title: Fault detected
    action: notify.mobile_app_sean_s_s20
  - data:
      message: Charging fault detected for Jag!
      title: Fault detected
    enabled: true
    action: notify.mobile_app_caitlin_s21
  mode: single
- id: '1717471460716'
  alias: Washer/Dyer Remote Start
  description: ''
  trigger:
  - platform: time
    at: '19:01:00'
  condition: []
  action:
  - service: button.press
    metadata: {}
    data: {}
    target:
      entity_id:
      - button.washer_remote_start
      - button.dryer_remote_start
  mode: single
- id: '1718162085772'
  alias: Activate Brew Sign
  description: ''
  triggers:
  - type: power
    device_id: 5cfce8615e6bfa25712677cc0ad83f3e
    entity_id: 9b06e7024c911a62881c8341092f612a
    domain: sensor
    trigger: device
    above: 1000
  conditions: []
  actions:
  - type: turn_on
    device_id: 71dfe78cee016ecad7f5c8f7377ea715
    entity_id: 9b6b5c2e15a01ced4dc2d4d934970e9d
    domain: light
    brightness_pct: 100
  mode: single
- id: '1723777909805'
  alias: Tag Dyson Stick Vac Start Charging is scanned
  description: ''
  triggers:
  - tag_id: 516eb145-b69f-4c8d-bfc6-8dac8d11f7dd
    trigger: tag
  conditions: []
  actions:
  - type: turn_on
    device_id: 204aa4deb9ae013ecfb99871331cfa06
    entity_id: abef98810bd28ed8b71baefa76109c4e
    domain: switch
  mode: single
- id: '1723913346506'
  alias: Dyson Stick Vac Charge Limit
  description: ''
  triggers:
  - type: power
    device_id: 204aa4deb9ae013ecfb99871331cfa06
    entity_id: 3fce30a4502102f6e9a179a209a6b616
    domain: sensor
    trigger: device
    above: 36
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - type: turn_off
    device_id: 204aa4deb9ae013ecfb99871331cfa06
    entity_id: abef98810bd28ed8b71baefa76109c4e
    domain: switch
  mode: single
- id: '1726351475455'
  alias: Moosoo Stick Vac Charge Limit
  description: ''
  triggers:
  - type: power
    device_id: 1c9cfa02fa649e2136dda6f5612366a6
    entity_id: 6f742a3dd56eeba6cffebe1576b26ff4
    domain: sensor
    trigger: device
    above: 12
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - type: turn_off
    device_id: 1c9cfa02fa649e2136dda6f5612366a6
    entity_id: 5abb4178fa9345b3b5d0177acae0b592
    domain: switch
  mode: single
- id: '1726609980402'
  alias: Explorer Battery Low Alert
  description: ''
  triggers:
  - entity_id:
    - sensor.the_jag_starter_battery_voltage
    for:
      hours: 3
      minutes: 10
      seconds: 0
    below: 11.2
    trigger: numeric_state
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      title: Explorer 12V Battery Update!
      message: 'Low Voltage: {{states(''sensor.the_jag_starter_battery_voltage'')|round(2)}}
        V'
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      title: Explorer 12V Battery Update!
      message: 'Low Voltage: {{states(''sensor.the_jag_starter_battery_voltage'')|round(2)}}
        V'
  mode: single
- id: '1738381307912'
  alias: Space Heater Turn Off
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.sht30_04_temperature
    - input_number.space_heater_temperature_setpoint
  conditions:
  - condition: numeric_state
    entity_id: sensor.sht30_04_temperature
    value_template: '{{states(''input_number.space_heater_temperature_setpoint'')|float
      - state.state|float}}'
    below: 0
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id:
      - switch.s31_14_relay
  mode: single
- id: '1738381384282'
  alias: Space Heater Turn On
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.sht30_04_temperature
    - input_number.space_heater_temperature_setpoint
  conditions:
  - condition: numeric_state
    entity_id: sensor.sht30_04_temperature
    value_template: '{{states(''input_number.space_heater_temperature_setpoint'')|float
      - state.state|float}}'
    above: 0.5
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id:
      - switch.s31_14_relay
  mode: single
- id: '1741656712398'
  alias: Petkit Wastebin Full Notify
  description: ''
  triggers:
  - type: problem
    device_id: ef54fbaf3e6246f2c7e7a1f8d3b3a5d4
    entity_id: 511ebb1132ce8b62cb23ccce82b86843
    domain: binary_sensor
    trigger: device
    for:
      hours: 0
      minutes: 1
      seconds: 0
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      message: Petkit waste collection bin full. Please empty in time.
      title: Petkit Notification
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      message: Petkit waste collection bin full. Please empty in time.
      title: Petkit Notification
  mode: single
- id: '1745027897856'
  alias: Tag Moosoo stick vac start charging is scanned
  description: ''
  triggers:
  - trigger: tag
    tag_id: 0ad40282-6541-4ff7-a2a9-c5cf314fb4ab
  conditions: []
  actions:
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.s31_21_relay
  mode: single
- id: '1759075417119'
  alias: Office Motion Lights
  description: ''
  use_blueprint:
    path: Blackshome/sensor-light.yaml
    input:
      motion_trigger:
      - binary_sensor.office_motion
      light_switch:
        entity_id: light.office
      include_dynamic_lighting: enable_sun_elevation_colour_brightness
      dynamic_lighting_min_brightness: 40
      dynamic_lighting_min_colour_temp: 2000
      dynamic_lighting_time_start_morning: 07:00:00
      dynamic_lighting_time_end_morning: '10:00:00'
      dynamic_lighting_time_start_evening: '19:00:00'
      dynamic_lighting_time_end_evening: '22:00:00'
      dynamic_lighting_sun_elevation_end_rising: 50
      dynamic_lighting_sun_elevation_start_falling: 49.5
      dynamic_lighting_sun_elevation_end_falling: -10
      dynamic_lighting_sun_elevation_start_rising: -10
- id: '1759077118045'
  alias: Master Bedroom Motion Lights
  description: ''
  use_blueprint:
    path: Blackshome/sensor-light.yaml
    input:
      motion_trigger:
      - binary_sensor.master_bedroom_motion
      light_switch:
        entity_id: light.bedside
      include_dynamic_lighting: enable_time_controled_colour_brightness
      dynamic_lighting_min_brightness: 40
      dynamic_lighting_min_colour_temp: 2000
      dynamic_lighting_max_colour_temp: 5800
      dynamic_lighting_time_start_morning: 07:15:00
      dynamic_lighting_time_end_morning: '11:00:00'
      dynamic_lighting_time_end_evening: '19:30:00'
      include_time: time_enabled
      after_time: 07:00:00
      before_time: '19:00:00'
      dynamic_lighting_time_start_evening: '16:00:00'
- id: '1759078560282'
  alias: Greg used the litter box
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.greg_last_use_duration
  conditions: []
  actions:
  - action: script.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: script.clean_litter_box
  mode: single
- id: '1759080581114'
  alias: 'Front door notify Caitlin '
  description: ''
  use_blueprint:
    path: SgtBatten/Stable.yaml
    input:
      camera: camera.doorbell
      notify_device: 47d3ee7edd83cb7b24fde42239f8837f
      base_url: https://hass.auffinger.dev
      title: Frigate Alert
      alert_once: true
      attachment: thumbnail
      update_thumbnail: true
      icon: mdi:cctv
      labels:
      - person
      cooldown: 60
      state_entity: lock.front_door_lock
      state_filter_states:
      - locked
      state_filter: true
- id: '1759198097266'
  alias: Parlor Lamp Automation
  description: ''
  use_blueprint:
    path: Blackshome/sensor-light.yaml
    input:
      motion_trigger:
      - schedule.parlor_lamp_schedule
      light_switch:
        entity_id: light.hue_white_lamp_1
      include_dynamic_lighting: enable_time_controled_brightness
      dynamic_lighting_min_brightness: 7
      dynamic_lighting_time_end_evening: '22:00:00'
      dynamic_lighting_time_start_evening: '18:00:00'
- id: '1759544329397'
  alias: Kitchen Motion Lights
  description: ''
  use_blueprint:
    path: Blackshome/sensor-light.yaml
    input:
      motion_trigger:
      - binary_sensor.kitchen_presence
      light_switch:
        entity_id:
        - light.kitchen
        - light.island
      include_dynamic_lighting: enable_sun_elevation_colour_brightness
      dynamic_lighting_min_brightness: 40
      dynamic_lighting_max_colour_temp: 5800
      dynamic_lighting_min_colour_temp: 2500
      dynamic_lighting_time_end_morning: '11:00:00'
      dynamic_lighting_time_end_evening: '21:30:00'
      include_night_lights: night_lights_enabled
      night_lights_conditions:
      - time_enabled
      night_lights_after_time: '21:30:00'
      night_lights_before_time: 05:00:00
      night_lights:
        entity_id:
        - light.kitchen
        - light.island
      include_night_light_control:
      - use_brightness
      - if_lights_are_on_adjust_when_crossing_over
      night_light_brightness: 10
      include_night_light_colour_control: use_colour_temperature
      night_light_colour_temperature: 2000
      include_night_glow: night_glow_enabled
      night_glow_lights:
        entity_id:
        - light.kitchen
        - light.island
      night_glow_light_brightness: 1
      include_night_glow_light_control:
      - use_brightness
      include_night_glow_light_colour_control: use_colour_temperature
      night_glow_light_colour_temperature: 2000
      dynamic_lighting_sun_elevation_start_rising: -10
      dynamic_lighting_sun_elevation_end_rising: 49
      dynamic_lighting_sun_elevation_start_falling: 29
      dynamic_lighting_sun_elevation_end_falling: -10
      dynamic_lighting_heartbeat: 10
- id: '1760920019661'
  alias: UPS on battery notification
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.ups_status
    from: Online
    for:
      hours: 0
      minutes: 0
      seconds: 15
    to: On Battery, Battery Discharging
  conditions: []
  actions:
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      message: Network UPS on backup battery power! Power out?
      title: Power Outage Notification
      data:
        notification_icon: mdi:transmission-tower-off
    enabled: true
  - repeat:
      sequence:
      - action: notify.mobile_app_sean_s_s20
        metadata: {}
        data:
          message: Network UPS on backup battery power ({{states('sensor.ups_battery_charge')}}%)!
            Power out?
          title: Power Outage Notification
          data:
            tag: ups_battery
            progress:
              '[object Object]':
            progress_max: 100
            alert_once: true
            notification_icon: mdi:transmission-tower-off
      - delay:
          hours: 0
          minutes: 0
          seconds: 15
          milliseconds: 0
      while:
      - condition: state
        entity_id: sensor.ups_status
        state: On Battery, Battery Discharging
        for:
          hours: 0
          minutes: 0
          seconds: 0
  mode: single
- id: '1761275274381'
  alias: Living Room Motion Lights
  description: ''
  use_blueprint:
    path: Blackshome/sensor-light.yaml
    input:
      motion_trigger:
      - binary_sensor.living_room_presence
      light_switch:
        entity_id:
        - switch.s31_11_relay
      include_dynamic_lighting: enable_time_controled_brightness
      dynamic_lighting_min_brightness: 30
      dynamic_lighting_time_start_evening: '18:00:00'
      dynamic_lighting_time_end_evening: '21:30:00'
      night_lights:
        entity_id: light.sunroom
      include_night_lights: night_lights_enabled
      night_lights_conditions:
      - time_enabled
      night_lights_after_time: '22:00:00'
      night_lights_before_time: 06:00:00
      include_night_light_control:
      - use_brightness
      night_light_brightness: 12
      night_glow_light_brightness: 1
      night_glow_lights:
        entity_id: light.sunroom
      include_time: time_disabled
      after_time: '21:30:00'
- id: '1762521685326'
  alias: Aux Fridge Power Watchdog
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - switch.s31_02_relay
    to: unavailable
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: state
    entity_id:
    - switch.s31_02_relay
    to: 'off'
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: numeric_state
    entity_id:
    - sensor.s31_02_power
    for:
      hours: 1
      minutes: 0
      seconds: 0
    below: 10
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      title: Aux Fridge Power Anomaly
      message: Is the power on?
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      message: Is the power on?
      title: Aux Fridge Power Anomaly
  mode: single
- id: '1762522234484'
  alias: Main Fridge Power Watchdog
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - switch.s31_09_relay
    to: unavailable
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: state
    entity_id:
    - switch.s31_09_relay
    to: 'off'
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: numeric_state
    entity_id:
    - sensor.s31_09_power
    for:
      hours: 1
      minutes: 0
      seconds: 0
    below: 10
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      title: Main Fridge Power Anomaly
      message: Is the power on?
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      message: Is the power on?
      title: Main Fridge Power Anomaly
  mode: single
- id: '1762634629453'
  alias: Radon Fan Power Watchdog
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - switch.s31_07_relay
    to: unavailable
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: state
    entity_id:
    - switch.s31_07_relay
    to: 'off'
    for:
      hours: 0
      minutes: 15
      seconds: 0
  - trigger: numeric_state
    entity_id:
    - sensor.s31_07_power
    for:
      hours: 1
      minutes: 0
      seconds: 0
    below: 10
  conditions: []
  actions:
  - action: notify.mobile_app_sean_s_s20
    metadata: {}
    data:
      title: Radon Fan Power Anomaly
      message: Is the power on?
  - action: notify.mobile_app_caitlin_s_s24
    metadata: {}
    data:
      message: Is the power on?
      title: Radon Fan Power Anomaly
  mode: single
- id: '1763001785451'
  alias: Outdoor Lights Schedule
  description: ''
  use_blueprint:
    path: Blackshome/sensor-light.yaml
    input:
      motion_trigger:
      - schedule.outdoor_lights_schedule
      light_switch:
        entity_id:
        - switch.front_porch
        - switch.driveway_entrance
        - switch.front_post_light
        - light.backyard_hedge_twinkly_group
        - light.twinkly_lights
        - switch.s31_17_relay
        - switch.s31_11_relay
      include_dynamic_lighting: disable_dynamic_lighting
      dynamic_lighting_min_brightness: 7
      dynamic_lighting_time_end_evening: '22:00:00'
      dynamic_lighting_time_start_evening: '18:00:00'
      include_sun: sun_enabled
      after_time: 06:00:00
      before_time: '22:00:00'
      include_time: time_enabled
      time_delay: 0
      sun_elevation: -1.5
      sun_elevation_rising: -4
- id: '1763735088809'
  alias: Space Heater Turn Down
  description: ''
  triggers:
  - trigger: time
    at: 06:30:00
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - fri
    - sat
  conditions: []
  actions:
  - action: input_number.set_value
    metadata: {}
    data:
      value: 60
    target:
      entity_id: input_number.space_heater_temperature_setpoint
  mode: single
- id: '1764125968271'
  alias: Truck lamp green
  description: ''
  triggers:
  - trigger: time
    at: 06:00:00
    weekday:
    - sun
    - mon
    - tue
    - wed
    - thu
    - fri
    - sat
  conditions:
  - condition: device
    type: is_on
    device_id: d9f5cf5455d42ba47d1f549ab06dced2
    entity_id: ea86f7bd868d8dfa69e36f508e8e60c1
    domain: light
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      rgb_color:
      - 0
      - 255
      - 0
      brightness_pct: 1
    target:
      device_id: d9f5cf5455d42ba47d1f549ab06dced2
  mode: single
- id: '1764427385767'
  alias: Low Battery Notifications & Actions
  description: ''
  use_blueprint:
    path: Blackshome/low-battery-notifications-and-actions.yaml
    input:
      include_time: time_enabled
      time: '19:00:00'
      include_easy_notify: enable_easy_notify
      notify_device:
      - b81fa521b01f700193b2b3fe10d60e10
      notify_tag: low-batteries
