homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude 
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: us_customary
  country: US
  currency: USD
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/New_York
  # Customization file
  customize: !include customize.yaml
  customize_domain: !include customize_domain.yaml
  internal_url: !secret http_internal_url
  external_url: !secret http_external_url
  # included for keymaster
  packages: !include_dir_named packages
  allowlist_external_dirs:
   - /config

http:
  use_x_frame_options: false
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 192.168.1.8
    - 192.168.1.12
    - 10.201.0.0/16

# Enables the frontend
frontend:
  themes: !include themes.yaml

config:
energy:
lovelace:
media_source:
mobile_app:
my:
stream:
sun:  
system_health:
wake_on_lan:  
zeroconf:

# inputs
input_boolean:
input_datetime:
input_number:
input_select:
input_text:

# includes
alexa: !include alexa.yaml
automation: !include automations.yaml
binary_sensor: !include binary_sensor.yaml
command_line: !include command_line.yaml
device_tracker: !include device_tracker.yaml
fan: !include fans.yaml
group: !include groups.yaml
influxdb: !include influxdb.yaml
light: !include_dir_merge_list lights/
mqtt: !include mqtt.yaml
powercalc: !include powercalc.yaml
script: !include scripts.yaml
sensor: !include_dir_merge_list sensors/
switch: !include switches.yaml
template: !include templates.yaml
utility_meter: !include utility_meter.yaml